APP_NAME=SynapseIQ
APP_ENV=development
API_V1_PREFIX=/api/v1
DATABASE_URL="postgresql+psycopg://neondb_owner:npg_3EbUv6niAKJj@ep-bitter-cell-aplnbpib-pooler.c-7.us-east-1.aws.neon.tech/synapseiq?sslmode=require&channel_binding=require"
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
BACKEND_CORS_ORIGINS=["http://localhost:5173"]
GITHUB_CLIENT_ID=Ov23liQpUabXKArZFVC4
GITHUB_CLIENT_SECRET=7d91e077d7b120718fc8d99003e3be7dbe62f3d4
GITLAB_CLIENT_ID=5e4146b3d925fbb6544f0be09df78e8f1a9b54791c548a4c78a20b9f5daeb5ee
GITLAB_CLIENT_SECRET=gloas-014a3c8c07d42da6881d920e5320ee33fb976de322f8ed46ef4a5fd04f6e4e0a
BITBUCKET_CLIENT_ID=qSxSzJ2H6jgzaRWy9V
BITBUCKET_CLIENT_SECRET=KBexYgJJLKXd79ge2PkLGhCMZx6XgcTm